// contact-us-email-template.pug
doctype html
html
  head
    title Contact Us Email
    style
  body
    h1 Contact Us
    p Thank you for reaching out to us!
    p Please find the details of your message below:

    table
      tr
        td From:
        td
          | #{from}
      tr
        td Subject:
        td
          | #{subject}
      tr
        td Message:
        td
          | #{content}

    p We will get back to you as soon as possible.
    p Regards,
    p Your Company Name
