// vendor contact us reply

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title iMarketplace.world Team

  body
    // Adjust the following styles to match your email design
    style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .logo {
        text-align: center;
        margin-bottom: 20px;
      }
      .message {
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        margin-bottom: 20px;
      }

    .container
      .logo
        img(src="https://logo.com/_next/static/media/logo-color.834b40cf.svg?w=48&q=72", alt="iMarketplace.world Logo")
      .message
        p Dear #[strong= fullName],
        p Thank you for reaching out to us through our marketplace website (#{webSite}) . We have received your message, and we appreciate you taking the time to contact us.
        p Rest assured, your inquiry is important to us, and we are currently reviewing the details you provided. Our dedicated team will get back to you shortly with a comprehensive response to address your questions and concerns.
        p If you need immediate assistance or have any urgent matters, please don't hesitate to give us a call at #[strong= contactNumber].
        p We value your interest in our marketplace, and we look forward to assisting you further.
        p Thank you for your patience!
        p Best regards,
        p #[em]iMarketplace.world Team